[Unit]
Description=Raspberry cam to monitor the room
After=network.target

[Service]
ExecStart=/bin/bash /home/pi/surveillance/systemd_luncher.sh
WorkingDirectory=/home/pi/surveillance/
KillMode=process
Environment="PA_ALSA_PLUGHW=1"
Environment="PULSE_LATENCY_MSEC=30" 
Restart=always
Type=simple
RestartSec=120

[Install]
WantedBy=multi-user.target
Alias=kukano.service

